@charset "EUC-KR";
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header styles */
h2 {
    color: #333;
    text-align: center;
}

h3 {
    color: #777;
    text-align: center;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Links */
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Containers */
.aggr-container {
    width: 70%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.return {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.return a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.return a:hover {
    background-color: #23527c;
}
